div#calendar{
	width : 917;
	float : left;
}

div#calendar ul.daylist {
	display : inline;
	float:left;
	margin:0;
	padding:0;
}

div#calendar ul.daylist li {
	display : block;
	height : 120px;
	width : 120px;
	float : left;
	text-align : right;
	margin : 1px 1px 0 0;
	padding : 0 5px 5px 5px;
	background:#E7E7E7 url(cal-day.png) no-repeat scroll 0 0;
	font-size : 0.7em;
	font-weight : bold;
	color : #ffffff;
}

div#calendar ul.daylist li.off-month {
	color : #aeaeae;
	opacity : 0.5;
}

div.event {
	height : 15px;
	margin-top : 20px;
	background : #0a0a0a;

}

div#event_info_dialog {
	height : 200px;
	width : 200px;
	position : absolute;
	background : #ffffff;
	visibility : hidden;
	border : 1px solid #000000;
}